In [6]:
import sqlite3
from sqlite3 import Error

In [33]:

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn, query):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
#    query1 = """
        
#    SELECT m.surname, m.firstname, 
#    case when recommendedby > 0 then 
#    (select surname || ' ' || firstname from Members where memid = CAST(m.recommendedby AS int)) END AS recommended_by

#    FROM Members AS m
#    ORDER BY surname ASC, firstname ASC
#       """
    cur.execute(query)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        
        print("**********************")
        print("Query for Question 10")
        
        query10 = """ 
            SELECT name, SUM(cost) as revenue  
            FROM
                (SELECT f.name,
                     CASE WHEN b.memid =0 THEN guestcost * slots
                     ELSE membercost * slots 
                     END AS cost
                 FROM Bookings AS b
                 INNER JOIN Facilities AS f ON f.facid = b.facid
                 ORDER BY cost DESC) AS t1
            GROUP BY name
            HAVING SUM(cost) < 1000
            ORDER BY revenue

        """
        select_all_tasks(conn, query10)
        
        print("**********************")
        print("Query for Question 11")
        query11 = """
            SELECT m.surname, 
                   m.firstname, 
                   CASE WHEN CAST(m.recommendedby AS UNSIGNED INT) > 0 THEN 
                        (SELECT surname || ' ' || firstname 
                         FROM Members m1
                         WHERE m1.memid = CAST(m.recommendedby AS UNSIGNED INT)) 
                    END AS recommended_by

            FROM Members AS m
            ORDER BY surname ASC, firstname ASC
           """
        select_all_tasks(conn, query11)
 
        print("**********************")
        print("Query for Question 12")
        query12 = """
            SELECT f.name,  count(memid) 
            FROM Bookings b
            INNER JOIN Facilities f 
            ON f.facid = b.facid
            WHERE memid != 0
            GROUP BY f.name 
            ORDER BY f.name
            """
        select_all_tasks(conn, query12)
        
        print("**********************")
        print("Query for Question 13")
        query13 = """
        
        SELECT f.name, 
               strftime('%m', starttime) AS month, 
               COUNT( memid ) AS facility_usage
        FROM Bookings AS b
        INNER JOIN Facilities AS f ON f.facid = b.facid
        WHERE memid !=0
        GROUP BY f.name, month
        ORDER BY f.name, month
        """
        select_all_tasks(conn, query13)
        
        
        
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
**********************
Query for Question 10
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)
**********************
Query for Question 11
('Bader', 'Florence', 'Stibbons Ponder')
('Baker', 'Anne', 'Stibbons Ponder')
('Baker', 'Timothy', 'Farrell Jemima')
('Boothe', 'Tim', 'Rownam Tim')
('Butters', 'Gerald', 'Smith Darren')
('Coplin', 'Joan', 'Baker Timothy')
('Crumpet', 'Erica', 'Smith Tracy')
('Dare', 'Nancy', 'Joplette Janice')
('Farrell', 'David', None)
('Farrell', 'Jemima', None)
('GUEST', 'GUEST', None)
('Genting', 'Matthew', 'Butters Gerald')
('Hunt', 'John', 'Purview Millicent')
('Jones', 'David', 'Joplette Janice')
('Jones', 'Douglas', 'Jones David')
('Joplette', 'Janice', 'Smith Darren')
('Mackenzie', 'Anna', 'Smith Darren')
('Owen', 'Charles', 'Smith Darren')
('Pinker', 'David', 'Farrell Jemima')
('Purview', 'Millicent', 'Smith Tracy')
('Rownam', 'Tim', None)
('Rumney', 'Henrietta', 'Genting Matthew')
('Sarwin', 'Ramnaresh', 'Bader Florence')
('Smith', 'Darren', None)
('Smith', 'Darren', None)
('Smith', 'Jack', 'Smith Darren')
('Smith', 'Tracy', None)
('Stibbons', 'Ponder', 'Tracy Burton')
('Tracy', 'Burton', None)
('Tupperware', 'Hyacinth', None)
('Worthington-Smyth', 'Henry', 'Smith Tracy')
**********************
Query for Question 12
('Badminton Court', 344)
('Massage Room 1', 421)
('Massage Room 2', 27)
('Pool Table', 783)
('Snooker Table', 421)
('Squash Court', 195)
('Table Tennis', 385)
('Tennis Court 1', 308)
('Tennis Court 2', 276)
**********************
Query for Question 13
('Badminton Court', '07', 51)
('Badminton Court', '08', 132)
('Badminton Court', '09', 161)
('Massage Room 1', '07', 77)
('Massage Room 1', '08', 153)
('Massage Room 1', '09', 191)
('Massage Room 2', '07', 4)
('Massage Room 2', '08', 9)
('Massage Room 2', '09', 14)
('Pool Table', '07', 103)
('Pool Table', '08', 272)
('Pool Table', '09', 408)
('Snooker Table', '07', 68)
('Snooker Table', '08', 154)
('Snooker Table', '09', 199)
('Squash Court', '07', 23)
('Squash Court', '08', 85)
('Squash Court', '09', 87)
('Table Tennis', '07', 48)
('Table Tennis', '08', 143)
('Table Tennis', '09', 194)
('Tennis Court 1', '07', 65)
('Tennis Court 1', '08', 111)
('Tennis Court 1', '09', 132)
('Tennis Court 2', '07', 41)
('Tennis Court 2', '08', 109)
('Tennis Court 2', '09', 126)